<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <button id="btn" onclick="send()">go</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>

    var ws = null;
    var client = null;
    function connect(groupid){
        ws = new SockJS("/webSocket");
        client = Stomp.over(ws);

        client.connect({},function(){
            client.subscribe("/topic/"+groupid,function(response){
                // user response
                console.log(response);
            })
        })



    }



    function send(){
        client.send("/chatapp/message/group1",{},"message");
    }

    connect("group1");




</script>

</html>